@media only screen and (max-width: 900px) {
    [class*="container-1"]{
        width:88%;
        font-size: 0.85rem;
    }
    
    [class*="container-2"]{
        width:88%;
        font-size: 0.85rem;
    }

    [class*="tab"]{
        font-size: 0.85rem;
    }

    [class*="tab-active"]{
        font-size: 0.85rem;
    }

    [class*="authButton"]{
        font-size: 0.85rem;
        padding: 0%;
        padding-top: 15px;
        padding-bottom:15px;
    }
}


@media only screen and (max-width: 850px) {
    [class*="newChatText"]{
        display: none;
    }

    [class*="latestMsgText"]{
        display: none;
    }

    [class*="chatNameText"]{
        display: none;
    }

    [class*="userOpsText"]{
        display: none;
    }

    [class*="userOpsMainBox"]{
        display: flex;              
        flex-direction: column;     
        justify-content: center;    
        align-items: center; 
    }

    [class*="userChatsMainBox"]{
        display: flex;         
        justify-content: center;    
    }

    [class*="userChatsSkeletonLine"]{
        display: none;         
    }

    [class*="userChatImg"]{
        margin-left: 10px;         
    }

    [class*="newChatImage"]{
        margin-right: 10px;         
    }

    [class*="sendMessageInput"]{
        margin-right: 10px;     
        font-size: 0.85rem;    
    }
}