.messageContainer{
    width: 25vw;
    display: flex;
    clear: both;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.messageContainerRight{
    width: 25vw;
    display: flex;
    clear: both;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.identity > img {
    width: 35px;
    border-radius: 40px;
    margin-right: 15px;
    overflow: "hidden";
}

.receiver{
    display: flex;
    flex-direction: column;
    clear: both;    
}
.receiver > p{
    font-size: 12px;
    margin-left: 20px;
}

.right{
    float: right;
    background-color: #d1e3e4;
}

.left{
    float: left;
    background-color: #d8d6ea;
}