@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    color: black;
    font-size: 0.91rem;
    scrollbar-width:thin;
    scrollbar-color: #02626b #250023;
    scroll-behavior: smooth;
}
.centered{
    animation: flick 1.5s infinite alternate;
    position: fixed;
    top: 12%;
    left: 27%;
    font-size: 18rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    overflow-y: auto;
}

.container-1 {
    background-image: linear-gradient(to left, #2F7336, #AA3A38);
    color: white;
    font-size: 1.0rem;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 5px;
    z-index: 1;
}

.neon {
    animation: flick 1.5s infinite alternate;
    color: #fff;
    font-size: 1.5rem;
  }
 
  @keyframes flick {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}  

.container-2 {
    background-image: linear-gradient(to left, #2F7336, #AA3A38);
    font-size: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    flex-direction: column;
    box-shadow: 
    0 0 999px #605C3C;
}

.tabsBlock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.tab {
    color: white;
    padding: 12px 100px;
    margin: 0px 5px ;
}

.tab:hover {
    animation: flick 1.5s infinite alternate;
    color: white;
    background-color: black;
    cursor: pointer;
}

.tab-active {
    animation: flick 1.5s infinite alternate;
    color: white;
    background-color: black;
}

.tabsContentBlock {
    /* border: 2px solid black; */
    width: 78%;
    margin: 10px 0px;
    padding: 10px;
}

.tabContainer {
    display: none;
}

.tabContainer-active {
    display: block;
}

.authLabel {
    color: white;
    display: block;
    margin: 3px 0px;
}

.authInput {
    margin: 3px 0px;
    width: 98%;
    border: none;
    padding: 3px;
    background-color: ghostwhite;
}

.password-container {
    display: flex;
}

#showHide {
    width: 22px;
    margin-left: 5px;
}

input[type=file]::file-selector-button {
    display: none;   
}

.custom-file-upload {
    cursor: pointer;
    display: flex;
    padding-top: 12px;
    /* border: 2px solid red;  */
}

#uploadCloud {
    display: inline;
    width: 20px;
    margin-right: 5px;
}

.authButton {
    color: white;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 12px 100px;
    margin-top: 15px;
}
.authButton:hover {
    animation: flick 1.5s infinite alternate;
    background-color: black;
    color: white;
    cursor: pointer;
}

.ColorModeSwitcherButton:hover{
    transform: translateX(-30px);
}
